#!/bin/rc
# Script to add ISO support to vmx

cd /sys/src/cmd/vmx

# Make backup
cp vmx.c vmx.c.bak

# Add the ISO support using sed
# This adds the -I flag handling after the -d flag case

cat vmx.c.bak | sed '/case .d.:/{
n
n
n
n
n
n
n
n
a\
	case ''I'':  /* ISO/CD-ROM support */\
		assert(edevn < nelem(edev));\
		edevaux[edevn] = strdup(EARGF(usage()));\
		edev[edevn] = mkide;\
		edevt[edevn] = "ide cdrom";\
		edevn++;\
		break;
}' > vmx.c

echo 'ISO support added. Now run:'
echo '  mk clean'
echo '  mk install'
echo ''
echo 'Then use: vmx -M 512 -I /n/interop/alpine-virt-3.19.0-x86_64.iso -d /tmp/alpine.img kernel'