#!/bin/rc
# Simple autorun without file locking - Plan 9 handles concurrency naturally
lastline=0

while(~ 1 1){
	if(test -f /n/interop/command.txt){
		nlines=`{wc -l </n/interop/command.txt}
		if(test $nlines -gt $lastline){
			# Process new commands
			sed -n ($lastline+1)','$nlines'p' /n/interop/command.txt | 
			while(line=`{read}){
				if(! ~ $#line 0){
					echo '[' `{date} '] Executing:' $line
					{
						echo '===CMD:' $line
						echo '===TIME:' `{date}
						rc -c $line
						echo '===STATUS:' $status
						echo '===END==='
					} >>/n/interop/output.txt
				}
			}
			lastline=$nlines
		}
	}
	sleep 1
}