#!/bin/rc

# Build cmdexec and test program

echo 'Building cmdexec...'
6c -FTVw cmdexec.c
if(! ~ $status ''){
	echo 'Compilation failed'
	exit 1
}

6l -o cmdexec cmdexec.6
if(! ~ $status ''){
	echo 'Linking failed'
	exit 1
}

echo 'Building test_cmdexec...'
6c -FTVw test_cmdexec.c
6l -o test_cmdexec test_cmdexec.6

echo 'Build complete'
echo 'To install: cp cmdexec /amd64/bin/'
echo 'To test: ./test_cmdexec'