#!/bin/rc
# Simple editor wrapper for Plan 9 - uses echo and sed
# Usage: edit.rc filename

if(~ $#* 0){
	echo 'Usage: edit.rc filename'
	exit 1
}

file=$1

# Create if doesn't exist
if(! test -f $file)
	touch $file

while(){
	echo '---' $file '---'
	cat -n $file
	echo '---'
	echo 'Commands: a=append, d N=delete line N, r N=replace line N, s/old/new/=substitute, w=save, q=quit'
	echo -n '> '
	cmd=`{read}
	
	switch($cmd){
	case q
		exit 0
	case w
		echo 'Saved.'
	case a
		echo 'Type text, then . on its own line:'
		{
			while(line=`{read}){
				if(~ $line .)
					break
				echo $line
			}
		} >> $file
	case 'd '*
		linenum=`{echo $cmd | sed 's/d //'}
		sed $linenum^'d' $file > $file.tmp && mv $file.tmp $file
	case 'r '*
		linenum=`{echo $cmd | sed 's/r //'}
		echo -n 'New text: '
		newtext=`{read}
		sed $linenum^'c\' ^ $"newtext $file > $file.tmp && mv $file.tmp $file
	case 's/'*
		sed $cmd $file > $file.tmp && mv $file.tmp $file
	case *
		echo 'Unknown command'
	}
}