#!/bin/rc
# killall - kill all processes matching a pattern
if(~ $#* 0){
	echo 'usage: killall pattern' >[1=2]
	exit usage
}
pattern=$1
signal=kill
if(~ $1 -* ){
	switch($1){
	case -i
		signal=interrupt
	case -h
		signal=hangup
	case -k
		signal=kill
	case *
		echo 'usage: killall [-i|-h|-k] pattern' >[1=2]
		exit usage
	}
	pattern=$2
}
for(pid in `{ps | grep $pattern | grep -v grep | awk '{print $2}'}){
	echo Killing $pid: `{ps | grep '^[^ ]*[ ]*'$pid' '}
	echo $signal >/proc/$pid/note
}
