#!/bin/rc
# Setup Plan 9 authentication - run this in 9front

echo 'Plan 9 Auth Setup Script'
echo '========================'

# Check if we're on the auth server
if(! test -x /bin/auth/authsrv){
	echo 'Error: /bin/auth/authsrv not found'
	echo 'This script must run on a 9front system'
	exit 1
}

echo -n 'Setup auth server? (y/n): '
ans=`{read}
if(~ $ans y){
	echo 'Starting keyfs...'
	auth/keyfs
	
	echo 'Starting authsrv...'
	auth/authsrv &
	
	echo -n 'Add user glenda? (y/n): '
	ans=`{read}
	if(~ $ans y){
		auth/changeuser glenda
	}
	
	echo 'Auth server running on port 567'
	echo 'Add to /lib/ndb/local:'
	echo '  auth='^`{cat /dev/sysname}^' authdom=local'
}

echo ''
echo 'To add keys to factotum for u9fs access:'
echo '  echo ''key proto=p9sk1 dom=local user=glenda !password=secret'' >/mnt/factotum/ctl'
echo ''
echo 'Done!'